<!DOCTYPE html>
<html>

<head>
    <title>Cooking</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>

<body>
    <main>
        <h1>Cooking</h1>
        <form method="POST" action="/parse" enctype="multipart/form-data">
            <div id="inputs">
            </div>
            <input type="submit" value="Parse">
        </form>
    </main>

    <script src="/home.js"></script>
</body>

</html>