<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jämför recept</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>

<body>
    <main>
        <h1>Jämför recept</h1>
        <p>Det här verktyget är till för att kunna jämföra mängden av olika ingredienser mellan recept. Jämför till exempel <a href="javascript:void(test());">recept på pannkakor</a> från Coop och ICA.</p>
        <form method="POST" action="/parse" enctype="multipart/form-data">
            <div id="inputs">
            </div>
            <button type="submit">Jämför</button>
        </form>
    </main>

    <script src="/home.js"></script>
</body>

</html>