<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Not found</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <p><a href="/">Tillbaka</a></p>
        <h1>Ingenting här...</h1>
    </main>
</body>

</html>