<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recept</title>

    <link rel="stylesheet" href="/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>

<body>
    <main>
        <div id="recipe-header">
            <p><a href="/">Tillbaka</a></p>
        </div>
        <div id="content"></div>
    </main>

    <script id="recipe-data" type="application/json">
    {{{jsonData}}}
    </script>

    <script src="/recipe.js"></script>
</body>

</html>